.alert2.fadein {
  animation: fadein 0.3s cubic-bezier(0, 1, 1, 1);
}

@keyframes fadein {
  0% {
    opacity: 0;
    /* transform: translateY(-100px); */
  }
  100% {
    opacity: 1;
    /* transform: translateY(0); */
  }
}

.alert2.fadeout {
  animation: fadeout 0.3s cubic-bezier(1, 0, 1, 1);
}

@keyframes fadeout {
  0% {
    opacity: 1;
    /* transform: translateY(0); */
  }
  100% {
    opacity: 0;
    /* transform: translateY(100px); */
  }
}

.alert2.background {
  background: rgba(255, 255, 255, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
  padding: 10vh;
}

.messagebox {
  display: inline-block;
  padding: 10vh;
  background: white;
  border: 1px solid #ccc;
}
